@use "variables";

@function size-html($viewport, $koeff: 1) {
  // viewport - переменная вьюпорта макета ($vp-1440 и тд.).
  // koeff - коэффицент скейлинга.
  @return calc(variables.$fz-default / $viewport) * 100vw * $koeff;
}

@function size($size-in-px) {
  @return calc($size-in-px / variables.$fz-default) * 1rem;
}

