@use "sass:string";
@use "variables";

@mixin font-face($font-name, $file-path, $weight: 'normal', $style: 'normal') {
  $url: 'url("' + $file-path + '.woff2") format("woff2"), ';
  $url: $url + 'url("' + $file-path + '.woff") format("woff")';

  @font-face {
    font-display: auto;
    font-family: $font-name;
    font-style: string.unquote($style);
    font-weight: string.unquote($weight);
    src: string.unquote($url);
  }
}

@mixin vp-1919 {
  @media (max-width: (variables.$vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1536 {
  @media (max-width: (variables.$vp-1536)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: (variables.$vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: (variables.$vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-414 {
  @media (max-width: (variables.$vp-414 - 1px)) {
    @content;
  }
}

@mixin vp-393 {
  @media (max-width: (variables.$vp-393 - 1px)) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: (variables.$vp-768 - 1px)) {
    @content;
  }
}

@mixin mobile-tablet {
  @media screen and (max-width: (variables.$vp-1024 - 1px)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: variables.$vp-768) and (max-width: (variables.$vp-1024 - 1px)) {
    @content;
  }
}

@mixin tablet-desktop {
  @media screen and (min-width: variables.$vp-768) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: variables.$vp-1024) {
    @content;
  }
}

// ------

@mixin hover-focus {
  &:focus-visible {
    @content;
  }

  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin focus {
  &:focus-visible {
    @content;
  }
}

@mixin active {
  &:active {
    @content;
  }
}

@mixin disabled {
  &:disabled,
  &[inert],
  &.is-disabled {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
